<nav>
    <ul class="menu">
        <li><img src="/img/logo blog.png" alt="logo" width="40px auto" height="40px auto"></li>
        <li>Home</li>
        <li class="dropdown-categorias" >Categorias
            <ul class="categorias">
                <li>1</li>
                <li>2</li>
                <li>3</li>        
            </ul>
        </li>
    </ul>
</nav>