<%- include ("partials/head") %>
<%- include ("partials/navbar") %>

<main>
    <div class="box-form-category">
        <form action="/categories/save" method="POST">
            <span id="categoria-texto"><label for="title">Categoria:</label></span>
                <input type="text" name="title">
            <button>Registrar</button>
        </form>
    </div> 
</main>

<%- include ("partials/footer")  %>
