*{
    margin:0px;
    padding: 0px;
    font-family: sans-serif;    
    text-align: center;
}
nav{
    display:flex;
    flex-direction: column;
    justify-content: center;
    max-width: 100%;   
}
.menu{  
    max-width: 100%;
    height:7vh;
    display:flex;
 
    padding:10px;  
    background: #dde6ea; 
}
img{    
    padding-left: 55px;
    margin:-10px;
    display:block;  
    border-radius:5px; 
}
.menu li{
    width:100px;
    margin:5px;
    list-style:none; 
}
.menu li:hover{   
    background:lavender;   
}
a{
    text-decoration: none;
}
a:visited {
    color:black;
}


main{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;  
    padding:20px;
    padding-top: 40px;
    width:80%; 
    min-height:74vh;
    margin:auto;
 }
.box-form-category{
    width:50%;
    height:300px;
    display:flex;
    flex-direction: column;   
    align-items: center;
    border:1px solid #7000f2;
    border-radius: 20px;
}
#categoria-texto{
    display: block;
    margin-top: 50px;
    margin-bottom: 80px;
    color:#7000f2;
    font-size: larger;
}
input:focus, button:focus{
    border:1px solid #0d55ff;
    outline: 0;
}
input{
    text-align: start;
    padding:6px 10px;
    border:1px solid #0d55ff;
    border-radius: 80px;
   }
button{
    background:#0d55ff;
    color: white;
    padding:7px 11px;
    border:none;
    border-radius: 80px;
}
.table-head tr th{
    padding: 3px;
}
table{
    padding:2px;
    border:1px solid #7000f2;
    border-radius:15px;
}
.table-body td{   
    font-size: small;
}
.tr-light{
    background: #dde6ea;
}