*{
    margin:0px;
    padding: 0px;
    font-family: sans-serif;    
    text-align: center;
}
nav{
    display:flex;
    flex-direction: column;
    justify-content: center;
    max-width: 100%;   
}
.menu{  
    max-width: 100%;
    height:7vh;
    display:flex;
 
    padding:10px;  
    background: #dde6ea; 
}
img{    
    padding-left: 55px;
    margin:-10px;
    display:block;  
    border-radius:5px; 
}
.menu li{
    width:100px;
    margin:5px;
    list-style:none; 
}
.menu li:hover{   
    background:lavender;   
}
a{
    text-decoration: none;
    color:white;
}
a:visited {
    color:black;
}

main{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;  
    padding:20px;
    padding-top: 40px;
    width:80%; 
    min-height:74vh;
    margin:auto;
 }
 form{

     margin-bottom: 40px;
     position:relative;
    
 }

#categoria-texto{  
    color:#0d55ff;
    font-size: larger;
}
input:focus, button:focus{
    border:1px solid #0d55ff;
    outline: 0;
}
input{
    text-align: start;
    padding:6px 10px;
    border:1px solid #0d55ff;
    border-radius: 80px;
   }
button{
    background:#0d55ff;
    color: white;
    padding:7px 11px;
    border:none;
    border-radius: 80px;
}
.action{
    color: white;
    padding:4px 7px;
    margin:0px 5px;
    border:none;
    border-radius: 80px;
}
.edit{
    background:#f3a638;
}.delete{
    background:#d9534f;
}


.table-head tr th{
    padding: 3px;
  
}
table{
    padding:2px;
    border:1px solid #0d55ff;
    border-radius:15px;
    min-width:70%;
}
.table-body td{   
    font-size: small;
}
.tr-light{
    background: #dde6ea;
}